/* Fonts */

@font-face {
    font-family: 'HighSchool';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/HighSchoolUsa.ttf') format('truetype');
}

body {
    margin: 0;
}

.divider-svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 82px;
    transform: rotateY(180deg);
}

section {
    min-height: 106vh;
    width: 100%;
}

section:nth-child(1) {
    background-color: #648a47;
}

section:nth-child(2) {
    background: #10150b;
    fill: #648a47;
}

section:nth-child(3) {
    background-color: #648a47;
    fill: #10150b;
}

section:nth-child(4) {
    background-color: #10150b;
    fill: #648a47;
}


/* First Section */

.nav {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-menu {
    margin-left: 4rem;
}

.nav-item {
    font: 30px HighSchool;
    color: white;
    margin-right: 2rem;
}

.nav-logo {
    width: auto;
    height: 8rem;
}

.title {
    font: 40px HighSchool;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.concept {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.concept_text {
    font: 38px HighSchool;
    color: white;
    margin: 10rem 0 0rem 9rem;
}

.mint {
    text-align: center;
    margin-top: 40vh;
}

.about {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about_image {
    height: 25rem;
    margin: auto;
    border-radius: 20px;
}

.about_text {
    color: white;
    font: 24px "Arial";
    margin: 0;
}

a.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin-left: auto;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font: 24px HighSchool;
    color: #FFFFFF;
    text-align: center;
    border: solid white 3px;
    transition: all 0.2s;
}

a.button:hover {
    background-color: white;
    color: #1d1d1d
}

@media all and (max-width:30em) {
    a.button {
        display: block;
        margin: 0.2em auto;
    }
}

.team {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}